<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="font-family: 'b_nazaninregular';">خدمات ما</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3 dir='rtl'>طراحی متنوع و کاربردمحور</h3>
                    <p class="text-muted" dir='rtl'>تنوع بسیار زیاد طراحی برای نمای داخلی و خارجی</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3 dir='rtl'>ارسال سریع و به‌موقع</h3>
                    <p class="text-muted" dir='rtl'>محصول مورد نظر خود را در سریع‌ترین زمان تحویل بگیرید.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3 dir='rtl'>تکنولوژی به روز</h3>
                    <p class="text-muted" dir='rtl'>با تکیه بر دانش و فناوری محصول باکیفیت و بسیار مقاوم تولید می‌شود.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>محصول وطنی</h3>
                    <p class="text-muted" dir='rtl'>صفر تا صد طراحی اولیه تا محصول نهایی توسط متخصصان داخلی انجام می‌شود.</p>
                </div>
            </div>
        </div>
    </div>
</section>
